# Core libraries
numpy==2.2.3
opencv-python==4.11.0.86
torch==2.6.0
torchvision==0.17.0
torchtext==0.16.2
pillow==10.0.1
nltk==3.8.1

# Streamlit and related libraries
streamlit>=1.25.0
streamlit-image-select==0.6.0
streamlit-tags==1.2.8

# OCR and Computer Vision
opencv-python-headless==4.11.0.86
easyocr==1.7.1

# NLP and related
spacy==2.3.5
spacy-models==2.3.1
thinc==7.4.6
preshed==3.0.9
murmurhash==1.0.12
cython>=0.25
setuptools>=75.8.2
